
/* Estilos del sweetAlert*/
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
  border-radius: 20px;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
  border-radius: 20px;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
  border-radius: 20px;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
  border-radius: 20px;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
  border-radius: 20px;
}

.colored-toast .swal2-title {
  color: rgb(255, 255, 255);
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: rgb(0, 0, 0);
}

/*Navbar*/

.logo{
clip-path: circle(50%);
opacity: 0.9;
transform: scalez(-1);
filter: brightness(100%); /*para darle brillo a la imagen */
} 

.navbar {
  background-color: rgb(255, 255, 255);
}

.navbar .nav-link,
.navbar .dropdown-item {
  color: rgb(0, 0, 0) !important;
}

.navbar .form-control {
  background-color: rgb(251, 249, 249);
  color: rgb(7, 7, 7);
}

.navbar .btn {
  background-color: white;
  color: black;
} 

.container-footer{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0%;
}

.footer{
  width: 100%;
  margin: 0%;
}
.container-home{
  margin: 0%;
  padding: 0%;
}


/* estilos  footer */

.container-footer {
  background: linear-gradient(135deg, #434343, #000);
  padding-top: 40px;
  color: white;
}

.pie-pagina {
  padding: 40px 0;
}

.footer-description {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 10px;
  color: #c0c0c0;
}

.font-weight-bold {
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-link {
  font-size: 14px;
  margin-bottom: 10px;
  color: #c0c0c0;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #fff;
}

.contact-button {
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 30px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
  background-color: #fff;
  color: #000;
}

.social-icon {
  font-size: 24px;
  color: white;
  margin: 0 10px;
  padding: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #ff8c00;
  transform: scale(1.1);
}

/* Estilo para la sección de derechos reservados */
.copyright {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
}

@media (max-width: 768px){
  /* diseño responsive*/
}


.animado {
  height: 10px;
  background-color: #ffffff;
  box-shadow: 0px 6px 8px 

}