
/* Estilos del sweetAlert*/
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: rgb(0, 0, 0);
}

/*Navbar*/

.logo{
clip-path: circle(50%);
opacity: 0.9;
transform: scalez(-1);
filter: brightness(100%); /*para darle brillo a la imagen */
} 

.navbar {
  background-color: rgb(255, 255, 255);
}

.navbar .nav-link,
.navbar .dropdown-item {
  color: rgb(0, 0, 0) !important;
}

.navbar .form-control {
  background-color: rgb(251, 249, 249);
  color: rgb(7, 7, 7);
}

.navbar .btn {
  background-color: white;
  color: black;
} 

