.container-formServi {
    background-color: #c5c0be;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 25px;
  }

  .label-formServi {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
    font-weight: 600;
  }
  
  /* Estilo de los Inputs */
  .input-formServi {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }

  /* Efecto al interactuar con los inputs */
.input-formServi:focus {
    border-color: #007bff;
    outline: none;
  }

  /* Botón de envío */
.boton-enviar {
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(135deg, #5db7cb, #fffd9e);
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-enviar:hover {
  background: linear-gradient(135deg, #1d4ed8, #1e40af);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

  /* formulario de contacto de emailjs  */
  

  .form-contacto{
    background-color: rgb(234, 132, 132);
    padding: 70px;
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    /* margin-top:40px; */
    margin: auto;

  }


  .label-contacto{
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 16px;
    color: #02070a;
    font-weight: 500;

  }

.input-contacto{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;

}

 /* Efecto al interactuar con los inputs */
 .input-contacto:focus {
    border-color: #007bff;
    outline: none;
  }

  @media (max-width: 768px){
    /* diseño responsive*/
  }

  /* Select */
select.input-formServi {
  appearance: none; /* Remueve la flecha predeterminada */
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="%234b5563" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1.2em;
  cursor: pointer;
}
  