@media (max-width: 768px){
  /* diseño responsive*/
}


/* Estilo general para el contenedor */
div {
    text-align: center; /* Centra todo el texto en el contenedor */
    
  }
  

  
  button:hover {
    background-color: #758495;
  }
  
